.form{
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: var(--color-bg-dark);
    display: flex;
}
.input{
    flex: 1;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.7rem 1rem;
    outline: none;
}
.button{
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 1.4rem;
    padding: 0 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}
.button:hover{
    filter: brightness(125%);
}